# -----------------
# environmnet
# -----------------
.env
mysql/data/

# -----------------
# Mac
# -----------------
# General
.DS_Store
.AppleDouble
.LSOverride

# -----------------
# JetBrain
# -----------------
.idea/
